{%extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}

{{block.super}}
{% for project in projects %}
<!-- Card -->
<div class="card card-image"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> {{project.title}}</h5>
      <h3 class="card-title pt-2"><strong> <a href="{{project.link}}"> {{project.link}} </a> </strong></h3>
      <br>
      <p>{{project.description}}</p>
      <a href="{{project.link}}" class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
      <a href="/voter{{project}}" method="post">Vote Up</a>
    </div> {{form.media}}
    <hr>

  </div>

</div>
<!-- Card -->

<div class="review-section">
  {% for review in reviews %}
  {% if project.id == review.project.id %}

  <p><strong>{{review.juror}}</strong> {{review.comment}} [usability: {{review.usability}}, content:
    {{review.content}} , design: {{review.design}}]</p>
  <p>{{ project.average_score | floatformat }}</p>
  {% endif %}

  {%endfor%}


  {{form.media}}
  <hr>
  <form action="" method="post" enctype="multipart/form-data" id="sema">
    {%csrf_token%}

    {%bootstrap_form form%}



  </form>

  {% endfor %}

  <a href="/new_comment">
    <h1>Leave a comment</h1>
  </a>
  <p>Total no. of comments {{project.comments.count}}</p>
  {% for comment in comments %}
  <p> {{comment.date_posted}} </p>
  <p> {{comment.content}} </p>
  <p> {{comment.user}} </p>
  {% empty %}
  <p>There is no comments</p>
  {% endfor %}
  <form action="" method="post" enctype="multipart/form-data" id="sema">
    {%csrf_token%}

    {%bootstrap_form form%}



  </form>

  {% endblock %}